<style>

  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body {
    max-height: 150vh;
    overflow-y: hidden;
  }

  .my-nav {
  }

  .my-light {
    font-size: .6em;
  }

  #msg-cont {
      position: relative;
      box-sizing: border-box;
      height: 80vh;
  }

  form {
    height: 100%;
  }

  .my-form {
    ;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
  }
  
  .my-form-bottom {
    top: 0;
    left: 0;
  }

  .my-msgs {
    padding: 3px;
    height: 80%;
    overflow-y: auto; 
  }

  .my-msg {
    padding: 1px;
    font-family: Serif;
    font-size: 1em;
    color: black;
  }

  .my-left-nav {
    height: 100vh;
  }

  .main-bar {
    padding-top: 10px;
  }
  .msg_nick {
    font-size: 1.0em;
  }
* {
   font-family: 'Suez One', serif;
  }

  div#con_mems {
    font-size: 0.9em;
    font-family: 'Suez One', serif;
    color: white;
  }
  div>ul>li {
    font-family: 'Suez One', serif;
    font-size: 0.7em;
  }
  div.mems {
    overflow-y: auto;
    height: 50vh;
    padding-left: 10px;
  }

</style>

<body class="grey lighten-4">
  <div class="row">
<!-- Left navigation bar -->

<!-- Small padding from heading to chat box (could be improved) -->
      <div style="height:20px">
      </div>

<!-- Chat box which contains everything -->
      <div id="msg-cont" class="z-depth-0 container  lighten-2"> 
<!-- Message box in Chat which has all the messages -->
        <div class="my-msgs grey lighten-4">
          <ul id="msgs"> 
            <li id="msg" class="my-msg flow-text">
              <span class="msg_nick" id="msg_nick">Utkarsh
              </span>:
            <span id="msg_cont">
              Have a lovely day!
            </span>
            </li>
          </ul>
        </div>
        <div class="my-form z-depth-0">
          <div class="divider"></div>
          <form id="text" action="">
            <div class="input-field">
              <input id="text_msg" 
                     type="text">
              <label class="active" for="text_msg">Enter Text</label>
            </div>
          </form>
        </div>
      </div>
  <script>
      socket.on('got-a-text', function(msg) {
        json_msg = JSON.parse(msg);
        console.log(json_msg);
        let new_msg_block = $('#msg').clone();
        new_msg_block.find('#msg_cont').text(json_msg.the_msg);
        new_msg_block.find('#msg_nick')
          .text(json_msg.name)
          .css({'color':json_msg.col});
        new_msg_block.appendTo($('#msgs'));
        $('.my-msgs').scrollTop($('#msgs')[0].scrollHeight);
      });
      Materialize.updateTextFields();
    });
  </script>
</body>
</html>

