* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar
{
  width: 4px;  [> for vertical scrollbars <]
  height: 12px; [> for horizontal scrollbars <]
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb
{
  background: rgb(151,55,0);
}

html,body {
    background-color: #210002;
    /*background-color: #440D0F;*/
    /*background-color: #973700;*/
    /*background-color: #A34300;*/
	/*color: #ffaf00;*/
    color: white;
	font-family: 'Verlag A', 'Verlag B', "Verlag";
	font-weight: 300;
	font-style: normal;
	text-align: center;
	font-size: 20px;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
    font-weight: 900;
}

h2 {
    font-size: 1.3em;
}

/* BANNER STYLING */

.banner span {
    background: url('/static/images/banner_transparent_left.png') no-repeat left top / contain, 
                url('/static/images/banner_transparent_right.png') no-repeat right top / contain;
	background-color: #ffaf00;
	color: #210002;
	display: inline-block;
	padding: .5em 1.1em;
	background-clip: padding-box;
	outline: 1px solid #210002;
	transition: background-color 0.15s;
}
.banner.arrow span {
    background: url('./banner_transparent_left.png') no-repeat left top / contain, 
                url('./banner_arrow_transparent_right.png') no-repeat right top / contain;
}

.flex {
    min-height: 100%;
    display: flex;
    flex-flow: row nowrap;
    /*background-color: #973700;*/
    /*background-color: #191716;*/
    background-color: #440D0F;
    /*background-color: #F6F6F6;*/
    /*padding: 5px;*/
    margin: 50px;
    border-radius: 2%;
    box-shadow: 00px 00px 18px #000;
}

div.flex > div {
    /*flex: 1 1 50%;*/
    min-width: 40%;
    min-height: 500px;
}

#child-left {
    /*background-color: #973700;*/
    /*box-shadow: 00px 00px 18px #000;*/
    background-color: #440D0F;
    border-radius: 2%;
    flex: 1 1 83%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    /*background-color: #210002;*/
    /*background-color: #191716;*/
}

#child-left > #finish-line {
    align-self: center;
    /*color: #210002;*/
    color: #973700;
    margin-top: 9px;
    margin-bottom: 7px;
}

#stats {
    /*[>order: 8;<]*/
    /*background-color: pink;*/
    /*align-self: flex-end;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#child-left > #flex-conta {
    box-shadow: 00px 00px 18px #000;
    flex: 1 1 80%;
    min-height: 500px;
    /*[>background-color: pink;<]*/
    display: flex;
    flex-flow: nowrap;
    background-color: inherit;
    background: url('/static/images/bg-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#child-left > #flex-conta > #cur-date {
    align-self: center;
    flex: 1 1 5%;
    /*background-color: red;*/
    color: #973700;
    order: 1;
    /*text-shadow: 4px 4px  9px #213002;*/
    font-weight: 900;

}

#child-left > #flex-conta > #image-here {
    align-self: center;
    order: 2;
    flex: 1 1 90%;
    min-height: 120px;
    min-width: 120px;
    font-weight: 600;
    font-size:1.3em;
    color: #973700;
    /*text-shadow: 1px 1px 8px #210007;*/
    /*background-image: url('/static/images/happychar.png');*/
    /*background-size: 100% 100%;*/
    /*background-color: green;*/
    /*box-shadow: 10px 10px 5px #fff;*/
    /*background-size: 100% auto;*/
    /*background-repeat: no-repeat;*/
}

#image-here > img {
    width: 100%:
    height: 100%:
}

#child-left > #flex-conta > #arrow-here {
    align-self: center;
    order: 3;
    flex: 1 1 5%;
    /*background-color: yellow;*/
    cursor: pointer;
}

#arrow-here > i {
    text-shadow: 4px 4px  9px #213002;
    font-weight: 900;
    color: #210002
}

#stats > .stat {
    align-self: center;
    flex: 1 1 20%;
    min-height: 80px;
    min-width: 80px;
    max-height: 80px;
    max-width: 80px;
    background-color: #F6F6F6;
}

#child-right {
    padding: 2%;
    flex: 1 1 10%;
    display: flex;
    align-items: center;
    /*background-color: gray;*/
}

#child-right > #chat-box {
    flex: 1 1 100%;
    /*display: flex;*/
    /*flex-direction: column nowrap;*/
}

#chat-box > #msg-box {
    max-height: 450px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow-y: scroll;
}

#chat-box > #msg-box > .msg {
    flex: 1 1 30%;
    color: #973700;
    margin: 20px;
    background-color: #210002;
    border-radius: 5%;
    box-shadow: 3px 3px 4px #210002;
    min-height: 80px;
    /*max-width: 180px;*/
    padding: 10px;
    /*min-height: 140px;*/
}

#chat-box > #msg-box > .msg-bot {
    align-self: flex-end;
}
#chat-box > #msg-box > .msg-usr {
    align-self: flex-start;
}

#chat-box > #txt-box{
    /*DO THIS WILL LOOK COOL*/
    border-top: 2px #000;
    /*flex: 1 1 10%;*/
    /*align-self: stretch;*/
    margin-top: auto;
    opacity: 0.4;
    display: flex;
    /*margin-bottom: 10px;*/
    /*margin-top: 10px;*/
    /*box-shadow: 4px 4px 3px #000;*/

}

#txt-form {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row wrap;
}

input {
    width: 100%;
    padding: 3px;
    height: 80%;
    margin-top: 20px;
    font-weight: 700;
    background-color: #973700;
    border: 0px;
    color: #FFAF00;
    border: 1px;
    border-color: #210002;
	box-shadow: 0px 1px 1px #ffaf00;
    color: #973700;
    background-color: #210002;
    
}

#txt-form > button {
    padding-bottom: 9px;
    flex: 1 1 40%;
    color: #973700;
    border: 0px;
    background-color: #210002;
    box-shadow: 4px 4px 3px #000;
}

@media only screen and (max-width: 450px) {
    #child-left > #stats {
        flex-direction:column;
    }
    #chat-box > #txt-box {
        margin-bottom: 0px;
    }
}
@media only screen and (max-width: 830px) {
    div.flex {
        flex-direction:column;
    }
}
@media only screen and (min-width: 1400px) {
    div.flex > div {
        min-height: 700px;
    }
    #chat-box > #msg-box {
        max-height: 500px;
    }
    
}
@media only screen and (min-width: 1800px) {
    div.flex > div {
        min-height: 900px;
    }
    #chat-box > #msg-box {
        max-height: 700px;
    }
}
/*div.main-container > div { */
    /*flex: 1 1 40%;*/
    /*background-color: orange;*/
/*}*/
