* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /*background-color: #210002;*/
    /*background-color: #973700;*/
    background-color: #A34300;
	color: #ffaf00;
	font-family: 'Verlag A', 'Verlag B', "Verlag";
	font-weight: 300;
	font-style: normal;
	text-align: center;
	font-size: 20px;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
    font-weight: 900;
}

h2 {
    font-size: 1.3em;
}

/* BANNER STYLING */

.banner span {
    background: url('/static/images/banner_transparent_left.png') no-repeat left top / contain, 
                url('/static/images/banner_transparent_right.png') no-repeat right top / contain;
	background-color: #ffaf00;
	color: #210002;
	display: inline-block;
	padding: .5em 1.1em;
	background-clip: padding-box;
	outline: 1px solid #210002;
	transition: background-color 0.15s;
}
.banner.arrow span {
    background: url('./banner_transparent_left.png') no-repeat left top / contain, 
                url('./banner_arrow_transparent_right.png') no-repeat right top / contain;
}

.flex {
    /*max-width: 100%;*/
    /*min-width: 100%;*/
    min-height: 100%;
    display: flex;
    flex-flow: row nowrap;
    /*background-color: #973700;*/
    background-color: #F6F6F6;
    /*padding: 5px;*/
    margin: 50px;
    border-radius: 2%;
    box-shadow: 00px 00px 18px #000;
}

div.flex > div {
    /*flex: 1 1 50%;*/
    min-width: 40%;
    min-height: 500px;
}

#child-left {
    /*background-color: #973700;*/
    box-shadow: 00px 00px 18px #000;
    border-radius: 2%;
    flex: 1 1 83%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: white;
}

#child-left > #finish-line {
    align-self: center;
    color: #210002;
}

#child-left > #stats {
    /*background-color: pink;*/
    margin-top: auto;
    /*align-self: flex-end;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#child-left > #flex-conta {
    flex: 1 1 80%;
    min-height: 500px;
    /*[>background-color: pink;<]*/
    display: flex;
    flex-flow: nowrap;
    background: url('/static/images/game-bg-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#child-left > #flex-conta > #cur-date {
    align-self: center;
    flex: 1 1 5%;
    /*background-color: red;*/
    order: 1;
    text-shadow: 4px 4px  9px #213002;
    font-weight: 900;
    color: #210002

}

#child-left > #flex-conta > #image-here {
    align-self: center;
    order: 2;
    flex: 1 1 90%;
    min-height: 120px;
    min-width: 120px;
    font-weight: 600;
    font-size:1.3em;
    color: #210002;
    text-shadow: 1px 1px 8px #210007;
    /*background-image: url('/static/images/happychar.png');*/
    /*background-size: 100% 100%;*/
    /*background-color: green;*/
    /*box-shadow: 10px 10px 5px #fff;*/
    /*background-size: 100% auto;*/
    /*background-repeat: no-repeat;*/
}

#image-here > img {
    width: 100%:
    height: 100%:
}

#child-left > #flex-conta > #arrow-here {
    align-self: center;
    order: 3;
    flex: 1 1 5%;
    /*background-color: yellow;*/
    cursor: pointer;
}

#arrow-here > i {
    text-shadow: 4px 4px  9px #213002;
    font-weight: 900;
    color: #210002
}

#stats > .stat {
    align-self: center;
    flex: 1 1 20%;
    min-height: 80px;
    min-width: 80px;
    max-height: 80px;
    max-width: 80px;
    background-color: #F6F6F6;
}

#child-right {
    padding: 2%;
    flex: 1 1 10%;
    display: flex;
    align-items: center;
    /*background-color: gray;*/
}

#child-right > #chat-box {
    flex: 1 1 100%;
    background-color: #F6F6F6;
    /*display: flex;*/
    /*flex-direction: column nowrap;*/
}

#chat-box > #msg-box {
    max-height: 450px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow-y: scroll;
}

#chat-box > #msg-box > .msg {
    flex: 1 1 10%;
    color: black;
    margin: 20px;
    background-color: gray;
    min-height: 40px;
}

#chat-box > #msg-box > .msg-bot {
    align-self: flex-end;
}
#chat-box > #msg-box > .msg-usr {
    align-self: flex-start;
}

#chat-box > #txt-box{
    /*flex: 1 1 10%;*/
    /*align-self: stretch;*/
    max-height: 80px;
    margin-top: auto;
    background-color: gray;
    color: black;
}

#txt-box > input {
    width: 80%;
}

@media only screen and (max-width: 450px) {
    #child-left > #stats {
        flex-direction:column;
    }
}
@media only screen and (max-width: 830px) {
    div.flex {
        flex-direction:column;
    }
}
@media only screen and (min-width: 1400px) {
    div.flex > div {
        min-height: 700px;
    }
    #chat-box > #msg-box {
        max-height: 500px;
    }
    
}
@media only screen and (min-width: 1800px) {
    div.flex > div {
        min-height: 900px;
    }
    #chat-box > #msg-box {
        max-height: 700px;
    }
}
/*div.main-container > div { */
    /*flex: 1 1 40%;*/
    /*background-color: orange;*/
/*}*/
